- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .row
    .large-12.columns
      = link_to 'Forgot Password?', new_password_path(resource_name)